@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<!-- Page Content -->
<div class="container">
    <!-- Team Members Row -->
    <div class="row">
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-center" src="/images/CK200.jpg" alt="">
            <div itemscope itemtype="http://digitaltrustprotocol.org/entity">
                <h4 itemprop="alias">Carsten Keutmann</h4>
                <div><small>Architect, Developer</small></div>
                <div itemprop="id">1JfGPkHbZE6JhwvgAyFNaGDpzGpLcx776H</div>
                <span itemprop="proof" itemvalue="INZf78OcilE14rSPbYHlfXByjv53IOlxcjDnWOKPf7BdUaPtnmFop7nntWGrs3IpLsaLqcXcrvyfrsj+b13xeI4="></span>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
        </div>
    </div>
</div>
