@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <div class="container">
        <h1>Digital Trust Protocol</h1>
        <p>Democratize trust</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p>With the introduction of the World Wide Web, the possibility for everybody to produce content that could potentially reach anyone else became possible. However, one crucial element was digitally left behind - Trust. The reputation of a few persons is easily managed, however for an individual to maintain the status of a vast number of only loosely known people, becomes an exhausting task. Relying on friends and family’s trust network is a way to solve this, but usually, they are not available at the time or do not even have the same interest sphere. Further, the possibility to be anonymous and still provide content make it hard for the reader to verify if the message is authentic.</p>
            <p>The Digital Trust Protocol (DTP) is a protocol for the handling of trust in the digital space. The protocol is broadly designed to work with all aspects of trust; this includes identity, reputation, and security.</p>
            <p><hr /></p>
            <h2>Anti Fake News Chrome Extension</h2>
            <p>Fight fake news online by rating and trusting information on any webpage.</p>
            <p><a href="https://github.com/DigitalTrustProtocol/TrustBrowserExtension/raw/master/Releases/AntiFakeNews20190927.zip">Download</a></p>
                        
            <p>

                <img src="~/images/afn/AntiFakeNewsPopup.PNG" class="float-left" width="400" />
                <img src="~/images/afn/AntiFakeNewsHistory.PNG" class="float-left" width="400" />
                <img src="~/images/afn/AntiFakeNewsHistory.PNG" class="float-left" width="400" />
                <img src="~/images/afn/AntiFakeNewsUser.PNG" class="float-left" width="400" />
                <img src="~/images/afn/AntiFakeNewsGraph.PNG" class="float-left" width="400" />
            </p>
            <p>
                Download and install a The Chrome Extension and try out DTP
                <br />NB! The extension has only been testet on the Chrome Browser lastest version on the Windows platform.
            </p>
            <p>

            </p>
            <h3>Install Client</h3>
            <ul>
                <li>1. <a href="https://github.com/DigitalTrustProtocol/TrustBrowserExtension/raw/master/Releases/AntiFakeNews20190927.zip">Download</a> the Zip file locally and unpack it.</li>
                <li>2. Open Chrome browser and go to Extensions (write in url: chrome://extensions/)</li>
                <li>3. Enable "Developer mode"</li>
                <li>
                    4. Select "Load unpacked" and navigate and select the zip file unpack folder.<br />
                    <img src="~/images/ChromeExtenion.JPG" />
                </li>
                <li>5. A DTP icon appears on the upper right corner of the browser. Click the icon.</li>
                <li>6. Add your password and seed, press save.</li>
            </ul>
        </div>
    </div>
</div>

